.body {
	background-color: black;
}

.line {
	background-color:white;
}

.nothingGen {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.nothingGen2 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 10px;
}

.nothingGen3 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 20px;
}

.nothingGen4 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 30px;
}

.nothingGen5 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 40px;
}

.nothingGen6 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 50px;
}

.nothingGen7 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 60px;
}

.nothingGen8 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 70px;
}

.DotUp1 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.DotUp2 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	top: 10px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.DotUp3 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}


.import {
	position: relative;
	border: 2px solid white;
	height: 65px;
	width: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.export {
	position: relative;
	border: 2px solid white;
	height: 65px;
	left: 135px;
	bottom: 65px;
	width: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.reset {
	position: relative;
	border: 2px solid white;
	height: 65px;
	width: 250px;
	left: 270px;
	bottom: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.max {
	position: relative;
	bottom: 10px;
	border: 2px solid white;
	height: 65px;
	width: 100px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.genN {
	position: relative;
	bottom: 10px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	left: 10px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.settings {
	display: block;
	position: relative;
	bottom: 10px;
	left: 0px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.dot {
	display: none;
	position: relative;
	bottom: 10px;
	left: 20px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.madot {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	background-color: transparent;
	outline: transparent;
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 80px;
}

.Dotpoint {
	display: none; 
}


.buttons1 {
	display: flex;	
	margin: auto;
}

.dotup {
  display: flex;
  flex-direction: column;
}