.body {
	background-color: black;
	overflow-y: scroll;
	overflow-x: hidden;

}

.line {
	background-color: white;
}

.ver {
	width: 1000px;
}

.nothingGen {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.clickButton {
    width: 500px;
    border: 2px solid white;
	height: 500px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.nothingGen2 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 10px;
}

.nothingGen3 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 20px;
}

.nothingGen4 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 30px;
}

.nothingGen5 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 40px;
}

.nothingGen6 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 50px;
}

.nothingGen7 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 60px;
}

.nothingGen8 {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 70px;
}

.DotUp1 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.DotUp2 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	top: 10px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.DotUp3 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.DotUp4 {
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.import {
	position: relative;
	border: 2px solid white;
	height: 65px;
	width: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.export {
	position: relative;
	border: 2px solid white;
	height: 65px;
	left: 135px;
	bottom: 65px;
	width: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.reset {
	position: relative;
	border: 2px solid white;
	height: 65px;
	width: 250px;
	left: 270px;
	bottom: 130px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.volumes {
	position: absolute;
	border: 2px solid white;
	top: 950px;
	width: 260px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.volumesetting {
	position: absolute;
	top: 931px;
	left: 290px;
}

.max {
	position: absolute;
	bottom: 1423px;
	border: 2px solid white;
	height: 65px;
	margin-left: 550px;
	width: 100px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.genN {
	position: relative;
	bottom: 10px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	left: 10px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.settings {
	display: block;
	position: relative;
	bottom: 10px;
	left: 0px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.settings:hover {
	transform: scale(1.1);
}

.dot {
	display: none;
	position: relative;
	bottom: 10px;
	left: 20px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.click {
	display: none;
	position: relative;
	bottom: 10px;
	left: 30px;
	border: 2px solid white;
	height: 65px;
	width: 50px;
	background-color: black;
	outline: transparent;	
	border-radius: 10px;
	cursor: pointer;
}

.madot {
	display: none;
    width: 950px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;
	border-radius: 10px;
	cursor: default;
	position: relative;
	top: 80px;
}

.Dotpoint {
	display: none; 
}


.buttons1 {
	display: flex;	
	margin: auto;
}

.MaxAndTick {
}

.dotup {
  display: flex;
  flex-direction: column;
}

.dot:hover {
	transform: scale(1.1);
}

.click:hover {
	transform: scale(1.1);
}

.genN:hover {
	transform: scale(1.1);
}

.nothingPoint {
	padding: 2px;
	width: 700px;
	background: #282828;
	border-radius: 10px;
}

.ClickPoint {
	padding: 2px;
	background: #282828;
	border-radius: 10px;
	width: 700px;
}

.Dotpoint {
	padding: 1px;
	background: #282828;
	border-radius: 10px;
	width: 700px;
}

.cm {
	display: none;
}

.clickButton:active {
	transform: scale(1.01);
}

.ClickUp1 {
	width: 950px;
    border: 2px solid white;
	height: 50px;
	top: 1000px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
	display: none;
}

.ClickUp2 {
	width: 675px;
	position: absolute;
	top: 925px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.ClickUp3 {
	width: 675px;
	position: absolute;
	top: 985px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.ClickUp4 {
	width: 675px;
	position: absolute;
	top: 1045px;
    border: 2px solid white;
	height: 50px;
	margin-left: 15px;
	background-color: transparent;
	outline: transparent;	
	border-radius: 10px;
	cursor: default;
}

.credits {
	display: none;
	position: absolute;
	top: 300px;
}

.bl {
	display: none;
}

.imgd {
	width: 100px; /* Adjust the width as needed */
    height: auto;
}